<!DOCTYPE html>
<html>
<head>
    <title>Upload routes.txt</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Upload routes.txt file</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose routes.txt file:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Upload</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
